/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu4mxP.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Roboto Mono'), local('RobotoMono-Regular'), url(https://fonts.gstatic.com/s/robotomono/v7/L0x5DF4xlVMF-BfR8bXMIjhLq3o.ttf) format('truetype');
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  font-size: 62.5%;
}
.container {
  width: 50%;
  margin: 0 auto;
  font-family: "Roboto Mono", mono-space;
  font-size: 1.6rem;
  transition: 0.2s ease-in-out width;
}
@media (max-width: 1280px) {
  .container {
    width: 67%;
  }
}
@media (max-width: 900px) {
  .container {
    width: 80%;
  }
}
@media (max-width: 500px) {
  .container {
    width: 90%;
  }
}
.container .heading {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
}
.container .header-container {
  display: flex;
  justify-content: flex-end;
  padding-top: 2.5vh;
}
.container .header-container header {
  width: 50%;
}
@media (max-width: 700px) {
  .container .header-container header {
    width: 75%;
  }
}
@media (max-width: 500px) {
  .container .header-container header {
    width: 100%;
  }
}
.container .header-container header nav {
  display: flex;
  justify-content: space-between;
}
.container .header-container header nav a {
  text-decoration: none;
  color: #1a1c1c;
}
.container .header-container header nav a:hover {
  color: #686e6e;
  font-weight: bold;
}
.container .hero {
  background-color: #d9dede;
  padding: 5%;
  margin-top: 2.5vh;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
}
.container .hero img {
  border-radius: 50%;
  width: 50%;
  max-width: 300px;
  margin-bottom: 2.5vh;
}
.container .hero h1 {
  font-size: 4rem;
}
.container .hero h5 {
  font-size: 2.4rem;
}
.container .btn {
  display: inline-block;
  text-decoration: none;
  padding: 10px 15px;
  border-radius: 3px;
  font-family: "Roboto", sans-serif;
  background-color: #686e6e;
  color: white;
  margin-top: 2.5%;
}
.container .btn:hover {
  background-color: #4f5454;
}
.container .details {
  margin-top: 2.5vh;
}
.container .details .column-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2.5vh;
}
@media (max-width: 500px) {
  .container .details .column-wrapper {
    flex-direction: column;
  }
  .container .details .column-wrapper .col-lg {
    width: 100%;
  }
  .container .details .column-wrapper .col-sm {
    width: 100%;
  }
}
.container .details .col-lg {
  width: 70%;
  padding-right: 2.5vw;
}
.container .details .col-lg p {
  line-height: 1.5;
}
.container .details .col-sm {
  width: 30%;
  text-align: center;
}
.container .details .col-sm table {
  width: 100%;
}
.container .details .heading {
  font-size: 3rem;
  margin-bottom: 1.25vh;
}
.container .details thead,
.container .details th,
.container .details td {
  padding: 10px;
}
.container .details tr:nth-of-type(even) {
  background-color: #ffffff;
}
.container .details tr:nth-of-type(odd) {
  background-color: #d9dede;
}
.container .history table {
  width: 100%;
  text-align: center;
  margin-bottom: 5vh;
}
.container .history thead {
  border: 1px solid rgba(200, 200, 200, 0.75);
}
.container .history th {
  background-color: white;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
}
.container footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #686e6e;
  color: white;
  text-align: center;
  padding: 10px;
  margin-top: 2.5vh;
  box-shadow: 0 -6px 5px rgba(0, 0, 0, 0.2);
  font-size: 1.2rem;
  font-family: "Roboto", sans-serif;
  color: #d9dede;
}
.container .contact .contact-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10vh;
}
.container .contact .contact-wrapper h1 {
  font-size: 4rem;
  margin-bottom: 2.5vh;
}
.container .contact .contact-wrapper .contact-form {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-bottom: 140px;
  transition: 0.3s ease-in-out all;
}
@media (max-width: 850px) {
  .container .contact .contact-wrapper .contact-form {
    width: 75%;
  }
}
@media (max-width: 500px) {
  .container .contact .contact-wrapper .contact-form {
    width: 100%;
  }
}
.container .contact .contact-wrapper .contact-form label {
  font-size: 24px;
  margin-bottom: 10px;
}
.container .contact .contact-wrapper .contact-form input,
.container .contact .contact-wrapper .contact-form textarea {
  background: #ccc;
  border: none;
  padding: 5px;
  margin-bottom: 20px;
}
.container .contact .contact-wrapper .contact-form input:last-of-type {
  width: 34%;
  transition: 0.2s ease-out all;
}
.container .contact .contact-wrapper .contact-form input:last-of-type:hover {
  cursor: pointer;
  background: black;
  color: white;
}
